@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #09090b;
}

@layer base {
  body {
    background-color: #09090b;
    color: #f8fafc;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.terminal-glow {
  box-shadow: 0 0 20px rgba(34, 197, 94, 0.1);
}
