@import "tailwindcss";

:root {
  --background: #09090b;
  --foreground: #f8fafc;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.terminal-glow {
  box-shadow: 0 0 20px rgba(34, 197, 94, 0.1);
}
